div.lds-dual-ring {
  text-align: center;
}
.lds-dual-ring:after {
  text-align: center;
  content: " ";
  display: inline-block;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 20px solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Style the counter cards */
.card {
  max-height: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: #f1f1f1;
}
